<div class="container">
    <h1>Torta választék</h1>
    <div class="row">
        <div class="col-sm-4">
            <a href="/getCake?id=1">
                <div class="boxing">
                    <h1>Csoki torta</h1>
                    <img src="assets/cakeImg.jpg" class="img-thumbnail">
                    <h2>Fő hozzávaló: Csoki</h2>
                    <h2>Kiszerelés: 12 Szelet</h2>
                    <p>Ára: 6800 Ft</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/getCake?id=2">
                <div class="boxing">
                    <h1>Erdei torta</h1>
                    <img src="assets/cakeImg.jpg" class="img-thumbnail">
                    <h2>Fő hozzávaló: Erdei gyümölcsök</h2>
                    <h2>Kiszerelés: 12 Szelet</h2>
                    <p>Ára: 7200 Ft</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/getCake?id=3">
                <div class="boxing">
                    <h1>Nutellás torta</h1>
                    <img src="assets/cakeImg.jpg" class="img-thumbnail">
                    <h2>Fő hozzávaló: Nutella</h2>
                    <h2>Kiszerelés: 12 Szelet</h2>
                    <p>Ára: 9200 Ft</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="/getCake?id=4">
                <div class="boxing">
                    <h1>Sajt torta</h1>
                    <img src="assets/cakeImg.jpg" class="img-thumbnail">
                    <h2>Fő hozzávaló: Sajt</h2>
                    <h2>Kiszerelés: 12 Szelet</h2>
                    <p>Ára: 7600 Ft</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/getCake?id=5">
                <div class="boxing">
                    <h1>Epres torta</h1>
                    <img src="assets/cakeImg.jpg" class="img-thumbnail">
                    <h2>Fő hozzávaló: Eper</h2>
                    <h2>Kiszerelés: 12 Szelet</h2>
                    <p>Ára: 5600 Ft</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/getCake?id=6">
                <div class="boxing">
                    <h1>Pudding torta</h1>
                    <img src="assets/cakeImg.jpg" class="img-thumbnail">
                    <h2>Fő hozzávaló: Puding</h2>
                    <h2>Kiszerelés: 12 Szelet</h2>
                    <p>Ára: 4200 Ft</p>
                </div>
            </a>
        </div>
    </div>
</div>
